<div class="main">
    <div class="header">
        <button class="btn btn-primary">Create Employee</button>
    </div>

    <div class="content" *ngIf="showTable">
        <table>
            <tr class="row">
                <th class="col-4">Full Name</th>
                <th class="col-4">Position</th>
                <th class="col-4">Actions</th>
            </tr>
            <ng-container *ngFor="let employee of employees">
                <tr class="row">
                    <td class="col-4">{{employee.name}}</td>
                    <td class="col-4">{{employee.title}}</td>
                    <td class="col-4">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" (click)="editEmployee(employee.employeeId!)">Edit</a></li>
                                <li><a class="dropdown-item" (click)="viewEmployee(employee.employeeId!)">View</a></li>
                                <li><a class="dropdown-item" (click)="deleteEmployee(employee.employeeId!)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="content" *ngIf="!showTable">
        <h5>No Data</h5>
    </div>
</div>