.main {
    width: 100%;
    padding-top: 5vh;
}

.header, .content {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.header button {
    font-size: 1em;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

td {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

table {
    width: 60%;
}