<div class="main">
    <div class="header">
        <button class="btn btn-primary">Create Employee</button>
    </div>

    <div class="content" *ngIf="showTable">
        <table>
            <tr class="row">
                <th class="col-3">Full Name</th>
                <th class="col-3">Position</th>
                <th class="col-3">Age</th>
                <th class="col-3">Actions</th>
            </tr>
            <ng-container>
                <tr class="row">
                    <td class="col-3">Lorenz Lendio</td>
                    <td class="col-3">Sales</td>
                    <td class="col-3">32</td>
                    <td class="col-3">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item">Edit</a></li>
                                <li><a class="dropdown-item">View</a></li>
                                <li><a class="dropdown-item">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="content" *ngIf="!showTable">
        <h5>No Data</h5>
    </div>
</div>